<div class="white_container">
	<div class="breadcrumb">
		<div class="crumb">
			<%= link_to "Threads", posts_path %>
		</div>
		<% thread = @thread %>
		<% breadcrumbs = [] %>
		<% while (not thread.nil?) do %>
			
				<% breadcrumbs << thread %>
				<% thread = thread.thread %>
			
		<% end %>

		<% breadcrumbs.reverse.each do |crumb| %> 
			<div class="crumb">
				< <%= link_to crumb.title, crumb %>
			</div>
		<% end %>
	</div>
	<div class="first_post">
		<div class="title"><%= @thread.title %></div>
		<div class="message"><%=@thread.message%></div>
	</div>
	<div class="posts">
		<% index = 1 %>
		<% @thread.posts.each do |post| %>
			

			<div class="post">
				<div class="user_title_index">
					<div class="email">
						<%= post.user.email %>
					</div>
					<div class="title"><%= post.title %></div>	
					<div class="index">
							<%= "##{index}" %>
					</div>
				</div>
				<div class="message"><%=post.message%></div>
				<div class="child_posts">
					<% if post.posts.count > 0 %>
						<% text = pluralize post.posts.count, "Post" %>
						<%= link_to text, post %>
					<% else %>
						<%= link_to "Create Sub-Post", new_post_path(post_id:post.id) %>
					<% end %>
				</div>
			</div>
			<% index += 1 %>
		<% end %>
	</div>

	<div class="create_post">
		<%= link_to "Create Post", new_post_path(post_id:@thread.id) %> 
	</div>

</div>