<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="title_bar">
			<h1>Forum for Monmouth University's SE611 Class!</h1>
		</div>
		<% flash.each do |key, value| %>
	          <div class="flash <%= key %>"><%= value %></div>
	  <% end %>
		<%= yield %>
	</div>
</body>
</html>
